<configuration>
    <appender name="myFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            logs/data.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/journal-log-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} ---- %msg %n%ex{full}------- %n
            </pattern>
        </encoder>

    </appender>
    <root level="INFO">
        <appender-ref ref="myFile" />
    </root>
</configuration>